{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}| جزئیات کلاس{% endblock %}
{% block content %}
<!--Banner-->
<section>
  <div class="banner" style="background-image: url('{{ banner.image.url }}');">
    {% include 'partials/alerts.html' with x="50" %}
    <h1 data-aos="fade-up" data-aos-duration="800">{{ banner.title }}</h1>
    <div class="page-address">
      <span><i class="fa fa-home"></i></span>
      <span> جزئیات کلاس </span>
      <span><i class="fas fa-chevron-right"></i></span>
      <span> کلاس های انلاین خصوصی </span>
      <span><i class="fas fa-chevron-right"></i></span>
      <span> کلاس ها </span>
      <span><i class="fas fa-chevron-right"></i></span>
      <span> خانه </span>
    </div>
  </div>
</section>
<!--Coach-->
<section class="container coach-info">
  <img src="{{details.coach.photo.url}}" alt="">
  <h5>مربی دوره: {{details.coach.name}}</h5>
</section>

<!--Live Stream-->
<section class="live-stream container-fluid">
{% if user.is_authenticated %}
  {% if details.title in cart_items %}
  <div class="h_iframe-aparat_embed_frame"> <span style="display: block;padding-top: 30%"></span><iframe scrolling="no"
      allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"
      src="{{ details.coach.live_stream_link}}?embed&fa"></iframe>
    </div>
  {% else %}
    <h3>برای شرکت در کلاس باید ثبت نام کنید</h3>
  {% endif %}
  {% else %}
  <h3>برای شرکت در کلاس باید ثبت نام کنید</h3>
  {% endif %}
</section>
<!--Class Info-->
<section class="class-info">
  <h3>توضیحات کلاس</h3>
  <p>
    {{ details.description }}
  </p>
</section>


<section class="container-fluid my-5">
  <span class="simple-title">جدول کلاس های انلاین خصوصی</span>
  <!-- Schedules -->

  <!-- Tab links -->
  <div class="tab">
    {% for class in classes %}
    {% if class == class1 %}
    <button class="tablinks active" onclick="schedule(event, '{{ class.title }}')">{{ class.title }}</button>
    {% else %}
    <button class="tablinks" onclick="schedule(event, '{{ class.title }}')">{{ class.title }}</button>
    {% endif %}

    {% endfor %}

  </div>

  <!-- Tab content -->
  {% for class in classes %}

  {% if class == class1 %}
  <div id="{{ class.title }}" class="tabcontent" style="display: block;">
    {% else %}
    <div id="{{ class.title }}" class="tabcontent">
      {% endif %}

      <div class="schedule">
        <img src="{% static 'images/شنبه.png' %}" alt="">
        <h5>{{ class.saturday }}</h5>
      </div>

      <div class="schedule">
        <img src="{% static 'images/یکشنبه.png' %}" alt="">
        <h5>{{ class.sunday }}</h5>
      </div>

      <div class="schedule">
        <img src="{% static 'images/دوشنبه.png' %}" alt="">
        <h5>{{ class.monday }}</h5>
      </div>

      <div class="schedule">
        <img src="{% static 'images/سه شنبه.png' %}" alt="">
        <h5>{{ class.tuesday }}</h5>
      </div>

      <div class="schedule">
        <img src="{% static 'images/چهارشنبه.png' %}" alt="">
        <h5>{{ class.wednesday }}</h5>
      </div>

      <div class="schedule">
        <img src="{% static 'images/پنجشنبه.png' %}" alt="">
        <h5>{{ class.thursday }}</h5>
      </div>

      <div class="schedule">
        <img src="{% static 'images/جمعه.png' %}" alt="">
        <h5>{{ class.friday }}</h5>
      </div>

    </div>
    {% endfor %}

</section>


{% endblock %}
