body {
  background-color: black;
  color: white;
  font-weight: bolder;
  font-family: sans-serif;
  text-align: center;
}

header {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  position: absolute;
  width: 100%;
  font-weight: bolder;
  font-size: 20px;
}

button:focus {
  outline: 0;
}

section {
  margin-bottom: 2em;
}

footer {
  background-color: #1b1b1b;
  font-weight: bolder;
}

footer h5 {
  color: #ff1919;
}

footer [class*="col-"] {
  margin-top: 0.5em;
}

.newsletters .input-group .btn {
  color: white;
  background-color: #ff1919;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: bolder;
  border: solid 1px white;
  border-right: none;
}

.newsletters .input-group .input-group-text {
  background-color: #ff1919;
}

.newsletters .input-group .input-group-text i {
  color: white;
}

.footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-icon a {
  margin: 10px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-decoration: none;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  background-color: #ff1919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-icon a:hover i {
  color: black;
}

.footer-icon a i {
  color: white;
}

.useful-links {
  margin-right: 2em;
}

.useful-links h5 {
  padding-left: 1.8em;
}

.useful-links ul li {
  list-style-type: none;
  margin: 16px;
}

.useful-links ul li a {
  text-decoration: none;
  color: white;
}

.useful-links ul li a:hover {
  color: #ff1919;
}

.lower-footer {
  color: white;
  background-color: #ff1919;
  opacity: 0.8;
  padding: 0.8rem 0;
}

.lower-footer a {
  color: black;
  text-decoration: none;
}

.contact-us h5 {
  text-align: right;
  padding-right: 5.5em;
}

.contact-us .footer-info {
  text-align: right;
  margin-right: 9em;
}

.contact-us .footer-info li {
  font-size: 16px;
  color: white;
  position: relative;
  list-style-type: none;
  margin-top: 2em;
  font-weight: normal;
}

.contact-us .footer-info li i {
  position: absolute;
  right: -1.5em;
  top: 0;
  font-size: 24px;
  color: #ff1919;
}

.contact-us .footer-info li span {
  color: #ff1919;
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
}

.about-us {
  width: 80%;
  line-height: 2rem;
  text-align: justify;
  text-align-last: center;
}

@media (max-width: 960px) {
  .contact-us h5 {
    text-align: center;
    padding-right: 0;
  }
  .contact-us .footer-info {
    text-align: center;
    margin-right: 0;
    padding-right: 45px;
  }
  .contact-us .footer-info li {
    font-size: 16px;
    color: white;
    position: relative;
    list-style-type: none;
    margin-bottom: 1em;
    margin-top: 0;
  }
  .contact-us .footer-info li i {
    position: relative;
    left: 2em;
    right: 0;
    top: 1em;
    font-size: 24px;
    color: #ff1919;
  }
  .contact-us .footer-info li span {
    color: #ff1919;
    display: block;
    font-family: "Oswald", sans-serif;
    font-weight: bolder;
  }
}

.titels {
  color: #ff1919;
  font-size: 30px;
  font-weight: bolder;
  border-bottom: 2px solid white;
  padding: 5px 0;
  margin-bottom: 1em;
  display: inline-block;
}

header {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand,
.navbar-brand2 {
  color: #ff1919 !important;
  text-align: center;
  width: 10%;
  padding: 0;
  margin-left: 1em;
  float: left;
  white-space: nowrap;
}

.navbar-brand h5,
.navbar-brand2 h5 {
  font-size: 2vw;
}

.navbar-brand img,
.navbar-brand2 img {
  width: 100%;
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-style: bold;
  width: 60%;
}

.pages .active .nav-link {
  color: #ff1919 !important;
}

.pages .active .nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  content: ".";
  color: transparent;
  background: #ff1919;
  height: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pages .nav-link {
  color: white !important;
  position: relative;
  font-size: calc(17px + 0.3vw);
}

.pages .nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #ff1919;
  height: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pages .nav-link:hover:after {
  width: 100%;
}

i {
  color: #ff1919;
}

.dropdown,
.sub-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .sub-dropdown-content,
.sub-dropdown .sub-dropdown-content {
  z-index: 5;
  padding: 5px;
}

.dropdown .dropdown-content,
.sub-dropdown .dropdown-content {
  z-index: 2;
  padding: 5px 30px 5px 0;
}

.dropdown .dropdown-content,
.dropdown .sub-dropdown-content,
.sub-dropdown .dropdown-content,
.sub-dropdown .sub-dropdown-content {
  display: none;
  position: absolute;
  background-color: #1b1b1b;
  min-width: 140px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 20px;
}

.dropdown .dropdown-content a,
.dropdown .sub-dropdown-content a,
.sub-dropdown .dropdown-content a,
.sub-dropdown .sub-dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 5px;
  color: white;
  position: relative;
}

.dropdown .dropdown-content a:after,
.dropdown .sub-dropdown-content a:after,
.sub-dropdown .dropdown-content a:after,
.sub-dropdown .sub-dropdown-content a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #ff1919;
  height: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dropdown .dropdown-content a:hover:after,
.dropdown .sub-dropdown-content a:hover:after,
.sub-dropdown .dropdown-content a:hover:after,
.sub-dropdown .sub-dropdown-content a:hover:after {
  width: 70%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sub-dropdown:hover .sub-dropdown-content {
  display: block;
}

.nav-divider {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, #ff1919));
  background-image: linear-gradient(270deg, #ff1919 50%);
  background-size: 1px 60%;
  background-position: left;
  background-repeat: no-repeat;
}

.social-nav {
  margin: 0 1em;
}

.toggle {
  text-align: right;
  width: 100%;
  display: none;
}

@media (max-width: 925px) {
  header {
    display: block;
  }
  .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social-nav {
    margin: 0;
    display: none;
  }
  .pages {
    display: none;
    z-index: 1;
  }
  .pages .nav-item {
    border: solid 1px black;
  }
  .pages .nav-link {
    color: white !important;
    position: relative;
    font-size: calc(17px + 0.3vw);
  }
  .pages .nav-link:after {
    display: none;
  }
  .pages .nav-link:hover {
    color: #ff1919 !important;
  }
  .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    background-color: #1b1b1b;
  }
  .navbar-brand {
    display: none;
  }
}

.banner {
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner h1 {
  font-size: calc(5vw + 20px);
  z-index: 1;
}

.banner .page-address {
  margin-top: 2em;
  z-index: 1;
}

.banner .page-address span {
  padding: 3px;
  font-size: calc(0.5vw + 11px);
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  background: radial-gradient(ellipse at center, rgba(181, 8, 8, 0.38) 0%, rgba(0, 0, 0, 0.6) 100%);
  background-size: 100% 100%;
}

@media (max-width: 768px) {
  .banner {
    height: 400px;
  }
  .banner::after {
    height: 400px;
  }
}

@media (max-width: 400px) {
  .banner {
    height: 300px;
  }
  .banner::after {
    height: 300px;
  }
}

.custom-mfp-arrow-left {
  left: 5%;
  width: 60px;
  height: 60px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: 9999;
}

.custom-mfp-arrow-right {
  right: 5%;
  width: 60px;
  height: 60px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  z-index: 9999;
}

@media (max-width: 1000px) {
  .custom-mfp-arrow-right {
    width: 40px;
    height: 40px;
    right: 10px;
  }
  .custom-mfp-arrow-left {
    width: 40px;
    height: 40px;
    left: 10px;
  }
}

@media (max-width: 860px) {
  .custom-mfp-arrow-right {
    width: 20px;
    height: 20px;
    right: 10px;
  }
  .custom-mfp-arrow-left {
    width: 20px;
    height: 20px;
    left: 10px;
  }
}

.pagination .page-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
}

.pagination .page-link:focus, .pagination .page-link:active {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.pagination .active .page-link {
  background-color: #1b1b1b;
}

.pagination .active .page-link:hover {
  color: white;
}

.page-link {
  color: white;
  background-color: #ff1919;
  border: none;
}

.page-link:hover {
  color: black;
}

.disabled a {
  background-color: black !important;
  text-decoration: none;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1em;
  direction: rtl;
}

.filters .filter {
  background-color: #ff1919;
  border: 1px solid black;
  color: white;
  width: 110px;
  font-weight: bolder;
}

.filters .filter.activef {
  background-color: blue;
}

.gallery {
  -webkit-column-count: 3;
          column-count: 3;
}

.gallery .pics {
  margin-bottom: 1em;
  height: 300px;
}

.gallery .pics:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gallery .pics:hover a::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background: radial-gradient(ellipse at center, rgba(181, 8, 8, 0.38) 0%, rgba(0, 0, 0, 0.6) 100%);
  background-size: 100% 100%;
}

.gallery .pics:nth-of-type(odd) {
  height: 500px;
}

.gallery .pics:nth-of-type(9) {
  height: 300px;
}

.gallery .pics:nth-of-type(11) {
  height: 300px;
}

.gallery .pics:nth-of-type(13) {
  height: 300px;
}

.gallery .pics:nth-of-type(15) {
  height: 300px;
}

.gallery .pics:nth-of-type(10) {
  height: 500px;
}

.gallery .pics:nth-of-type(12) {
  height: 500px;
}

.gallery .pics:nth-of-type(14) {
  height: 500px;
}

.gallery .pics:nth-of-type(16) {
  height: 500px;
}

.gallery .pics img {
  width: 100%;
  height: 100%;
}

.filter-gallery {
  height: 200px;
  width: 100%;
}

.filter-gallery:nth-of-type(n) {
  height: 200px;
  margin: 0;
  margin-bottom: 15px;
  width: 100%;
}

.filter-gallery img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .gallery {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-width: 100%;
            column-width: 100%;
  }
  .gallery .pics {
    height: 150px;
  }
  .gallery .pics:nth-of-type(n) {
    height: 150px;
    margin: 0;
    margin-bottom: 15px;
  }
  .gallery .pics img {
    max-width: 100%;
    max-height: 100%;
  }
}
/*# sourceMappingURL=gallery.css.map */